Repository sustainable-computing-io/kepler, pull requests merged in 2025-09, with the labels that each got.

#2306 ci: run profiling workflow on self-hosted runner
  .github/workflows/k8s-bm.yaml
  .github/workflows/profiling.yaml
  docs/developer/assets/profiling.png
  docs/developer/assets/profiling.uml
Labels: ci

#2307 ci: remove EOF from the config change message
  .github/workflows/assign-labels.yaml
  .github/workflows/check-x-crypto-deps.yaml
  .github/workflows/config-change.yaml
  .github/workflows/pr-comment.yaml
  .github/workflows/release.yaml
  .github/workflows/test-and-codecov.yaml
Labels: ci

#2294 chore: add compose manifests for kepler latest
  .github/compose/action.yaml
  .github/workflows/config-change.yaml
  compose/compose.yaml
  compose/default/grafana/dashboards/latest/dashboard.json
  compose/default/kepler/etc/kepler/config.yaml
  compose/default/override.yaml
  compose/default/prometheus/scrape-configs/latest.yaml
  compose/dev/compose.yaml
  compose/dev/override.yaml
  compose/dev/prometheus/scrape-configs/dev.yaml
  compose/shared/kube/README.md
Labels: requires-manual-test, chore

#2263 feat(redfish): add redfish support
  cmd/kepler/main.go
  compose/default/kepler/etc/kepler/config.yaml
  compose/dev/kepler-dev/etc/kepler/config.yaml
  config/config.go
  config/config_test.go
  config/redfish/config.go
  config/redfish/config_test.go
  docs/developer/proposal/EP_001-redfish-support.md
  docs/user/configuration.md
  docs/user/metrics.md
  go.mod
  go.sum
  hack/config.yaml
  hack/gen-metric-docs/main.go
  hack/redfish-production.yaml
  hack/redfish.yaml
  hack/redfish/README.md
  hack/redfish/bmc-config.yaml
  hack/redfish/capture-bmc-testdata.go
  internal/exporter/prometheus/collector/platform_collector.go
  internal/exporter/prometheus/collector/platform_collector_test.go
  internal/exporter/prometheus/prometheus.go
  internal/platform/redfish/helpers.go
  internal/platform/redfish/helpers_test.go
  internal/platform/redfish/mock/fixtures_test.go
  internal/platform/redfish/mock/power_responses.go
  internal/platform/redfish/mock/scenarios.go
  internal/platform/redfish/mock/scenarios_test.go
  internal/platform/redfish/mock/server.go
  internal/platform/redfish/power_reader.go
  internal/platform/redfish/power_reader_test.go
  internal/platform/redfish/service.go
  internal/platform/redfish/service_test.go
  internal/platform/redfish/testdata/HOW_TO_UPDATE_TESTDATA.md
  internal/platform/redfish/testdata/README.md
  internal/platform/redfish/testdata/fixtures/chassis.json
  internal/platform/redfish/testdata/fixtures/chassis_collection.json
  internal/platform/redfish/testdata/fixtures/dell_power_245w.json
  internal/platform/redfish/testdata/fixtures/empty_power_control.json
  internal/platform/redfish/testdata/fixtures/error_auth_failed.json
  internal/platform/redfish/testdata/fixtures/error_not_found.json
  internal/platform/redfish/testdata/fixtures/generic_power_200w.json
  internal/platform/redfish/testdata/fixtures/generic_power_590w.json
  internal/platform/redfish/testdata/fixtures/hpe_power_189w.json
  internal/platform/redfish/testdata/fixtures/lenovo_power_167w.json
  internal/platform/redfish/testdata/fixtures/service_root.json
  internal/platform/redfish/testdata/fixtures/zero_power.json
  internal/platform/redfish/testdata/json_fixtures_test.go
  internal/platform/redfish/testdata/power_responses.go
  internal/platform/redfish/testdata/validation.go
  internal/platform/redfish/testdata/validation_test.go
  internal/platform/redfish/types.go
  internal/platform/redfish/types_test.go
  manifests/helm/kepler/values.yaml
  manifests/k8s/configmap.yaml
Labels: feat, docs, chore

#2319 docs: update redfish flag names
  docs/user/configuration.md
Labels: docs

#2311 refactor(redfish): enhance power reading with PowerSubsystem API support
  docs/developer/proposal/EP_001-redfish-support.md
  docs/user/metrics.md
  go.mod
  go.sum
  hack/gen-metric-docs/main.go
  hack/redfish/README.md
  hack/redfish/bmc-config.yaml
  hack/redfish/capture-bmc-testdata.go
  internal/exporter/prometheus/collector/platform_collector.go
  internal/exporter/prometheus/collector/platform_collector_test.go
  internal/platform/redfish/fallback_test.go
  internal/platform/redfish/helpers.go
  internal/platform/redfish/helpers_test.go
  internal/platform/redfish/integration_test.go
  internal/platform/redfish/mock/fixtures_test.go
  internal/platform/redfish/mock/scenarios_test.go
  internal/platform/redfish/power_reader.go
  internal/platform/redfish/power_reader_init_test.go
  internal/platform/redfish/power_reader_test.go
  internal/platform/redfish/service.go
  internal/platform/redfish/service_test.go
  internal/platform/redfish/test_helpers.go
  internal/platform/redfish/testdata/HOW_TO_UPDATE_TESTDATA.md
  internal/platform/redfish/testdata/README.md
  internal/platform/redfish/testdata/fixtures/chassis.json
  internal/platform/redfish/testdata/fixtures/chassis_collection.json
  internal/platform/redfish/testdata/fixtures/dell_power_245w.json
  internal/platform/redfish/testdata/fixtures/empty_power_control.json
  internal/platform/redfish/testdata/fixtures/error_auth_failed.json
  internal/platform/redfish/testdata/fixtures/error_not_found.json
  internal/platform/redfish/testdata/fixtures/generic_power_200w.json
  internal/platform/redfish/testdata/fixtures/generic_power_590w.json
  internal/platform/redfish/testdata/fixtures/hpe_power_189w.json
  internal/platform/redfish/testdata/fixtures/lenovo_power_167w.json
  internal/platform/redfish/testdata/fixtures/service_root.json
  internal/platform/redfish/testdata/fixtures/zero_power.json
  internal/platform/redfish/testdata/json_fixtures_test.go
  internal/platform/redfish/testdata/power_responses.go
  internal/platform/redfish/testdata/validation.go
  internal/platform/redfish/testdata/validation_test.go
  internal/platform/redfish/testutil/power_responses.go
  internal/platform/redfish/testutil/scenarios.go
  internal/platform/redfish/testutil/server.go
  internal/platform/redfish/types.go
  internal/platform/redfish/types_test.go
Labels: docs, refactor, chore
